# Python 기본 파일들
__pycache__/
*.py[cod]
*$py.class

# Virtualenv 디렉토리
venv/
env/
.venv/
.virtualenv/

# Jupyter Notebook 체크포인트
.ipynb_checkpoints/

# 환경 설정 파일
*.env
*.env.*

# PyCharm IDE 설정 파일
.idea/

# VSCode 설정 파일
.vscode/

# macOS 시스템 파일
.DS_Store

# 빌드 파일
build/
dist/
*.egg-info/
.eggs/

# Log 파일
*.log
*.out
*.err

# Coverage 결과
htmlcov/
.coverage
.coverage.*
.cache/
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# MyPy type-checking
.mypy_cache/
.dmypy.json

# Pytest 관련 파일
.pytest_cache/
.cache/

# Temporary 파일
*.tmp
*.temp
*.swp
*.swo
*.bak

# 파이썬 패키지 배포 시 생성되는 파일
pip-wheel-metadata/
*.manifest
*.spec

# Ultralytics 관련 캐시 파일 (모델 캐시 등)
runs/
models/

# Jupyter Notebook에서 생성된 출력
*.ipynb_out

# weight file
*.pt